# NMS WebUI environment variables
NMS_LOG_LEVEL=INFO
NMS_REQUEST_TIMEOUT=10.0
NMS_CHECK_INTERVAL_SEC=30
NMS_SECRET_KEY=change-this-to-a-secure-random-64-char-string-in-production
NMS_CORS_ORIGINS=["http://localhost:5173","http://localhost:9000"]
NMS_SECURE_HEADERS_ENABLED=true

